<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 card card-body">
          <label>Email</label>
          <input type="email" class="form-control Contacto-escribir-total-formulario-item" [(ngModel)]="registro.email">
          <label>Nombre</label>
          <input type="email" class="form-control Contacto-escribir-total-formulario-item" [(ngModel)]="registro.nombre">
          <label>Contraseña</label>
          <input type="password" class="form-control Contacto-escribir-total-formulario-item" [(ngModel)]="registro.password">
          <button class="btn Contacto-escribir-total-formulario-btn" type="submit" (click)="registrar()">Registrarme</button>
          
    </div>
  </div>
</div>
  