<div class="container">
    <h1 class="Contacto-escribir-total-title">Add policy to {{client.Nombre}}</h1>
    <p class="Contacto-escribir-total-description"></p>
    <div class="Contacto-escribir-total-formulario">
        <label for="customRange3">Policy</label>
        <select class="form-control Contacto-escribir-total-formulario-item--textarea" name="miselect" [(ngModel)]="idPolicy" >
                <option [value]="policy.IdPolizaSeguro" *ngFor="let policy of policies">{{policy.Nombre}}</option>
        </select> 
        <label for="customRange3">Percent of coverage:</label>
        <input class="form-control Contacto-escribir-total-formulario-item" type="number" placeholder="Percen of Coverage" [(ngModel)]="percenOfCoverage"/>
        

        <button class="btn Contacto-escribir-total-formulario-btn" type="submit" (click)="asociar()">Asociar</button>
        <button class="btn Contacto-escribir-total-formulario-cancelar" type="submit" routerLink="/clients">Cancelar</button>
    </div>
</div>
         
