<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 card card-body">
          <label>Email</label>
          <input type="email" class="form-control Contacto-escribir-total-formulario-item" [(ngModel)]="loginParams.email">
          <label>Contraseña</label>
          <input type="password" class="form-control Contacto-escribir-total-formulario-item" [(ngModel)]="loginParams.password">
          <button class="btn Contacto-escribir-total-formulario-btn" type="submit" (click)="login()">Login</button>
          <button class="btn Contacto-escribir-total-formulario-cancelar" type="submit" routerLink="/lugares">Cancelar</button>
    </div>
  </div>
</div>
